body {
  background-color: #000;
  color: #fff;
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
}

main {
  text-align: center;
  margin: 20px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

#mensaje {
  margin-top: 10px;
  font-weight: bold;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  text-align: center;
}

@media screen and (max-width: 767px) {
  body {
    font-family: 'Mooli', sans-serif;
  }

  main {
    margin: 10px;
  }

  button {
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
}
