/* Estilos específicos para el menú de navegación */
.menu-container {
  background-color: #333; /* Color de fondo del menú */
  padding: 10px; /* Ajusta el espaciado interno del menú según tus necesidades */
}

.menu-container ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu-container li {
  display: inline-block;
  margin-right: 20px; /* Ajusta el espaciado entre elementos del menú según tus necesidades */
}

.menu-container a {
  text-decoration: none;
  color: #fff; /* Color del texto en el menú */
  font-size: 16px;
  font-family: 'Mooli', sans-serif; /* Aplicar la fuente Mooli */
}

.menu-container a:hover {
  color: #007bff; /* Cambia el color del texto al pasar el cursor sobre el enlace */
}
